@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');



body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

/* top section style  */

.banner{
    width: 1440px;
    background-color: #2D25A0;
    margin: 0 auto;
    
}
.top-section{
    display: flex;
}
.web-title{
    width: 485px;
    margin-top: 150px;
    margin-left: 156px;
    margin-bottom: 170px;
}

.web-title h2{
    font-size: 64px;
    color: #FFFFFF;
}
.web-title button{
    padding: 10px 24px;
    background-color: #E02C6D;    
    color: #FFFFFF;
}
.title-img{
    margin-right: 140px;
    margin-top: 150px;
    margin-bottom: 86px;
}
.title-img img{
    width: 556px;
}


/* players section css  */

.article-boundary{
    margin-top: 100px;
    background-color: #FFFFFF;
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
}

.article-frame{
    align-items: center;
    box-shadow: 1px 3px 13px rgba(0,0,0,.15);
}
.player-image{
    width: 360px;
}

.player-image img{
    width: 330px;
    margin: 15px
}
.left-side{
    margin-left: 120px;
}

.middle-side{
    margin-left: 30px;
    margin-right: 30px;
}
.right-side{
    margin-right: 210px;
}
.description h3{
    font-size: 28px;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.description p{
    font-size: 14px;
    color: #6C6C6C;
    margin-left: 15px;
    padding-bottom: 30px;
}


